*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --gray-background: #F2F2F2;
    --paragraph: #495057;
    --brand-blue: #66B0F0;
    --headline: #0A0B0C;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

